<tr>
  <td><%= link_to ("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>").html_safe, wiki_collaborator_path(@wiki, collaborator), action: "destroy", method: :delete, class: 'text-danger' %> <%= collaborator.user.name %></td>
</tr>
