
<%= form_for [@wiki, @collaborator], :html => {:class => 'form-inline', :id => 'add-collaborator'}  do |f| %>
  <div class="form-group">
    <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: 'User email' %>
  </div>
  <%= f.submit "Add", class: 'btn btn-primary' %>
<% end %>

