/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
 *= require formvalidation.min
 */

@import "bootstrap-sprockets";

.t-20{
  padding-top: 20px;
}

.twenty {
  padding: 20px;
}

.forty {
  padding: 40px;
}

.sixty {
  padding: 60px;
}

#avatar-img {
    min-width: 85px;
    display: inline-block;
    text-align: center;
}

.navbar {
  margin-bottom: 0;
}


/*
    FORM STYLING
*/
#fileselector {
/*    margin: 10px;*/
}
#avatar-upload-file-selector {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}

#upgrade-button {
  display: inline;
}

textarea.wmd-input {
  min-height: 500px;
  max-height: 500px;
}

.wmd-preview {
  max-height: 500px;
  min-height: 500px;
  overflow: auto;
  padding: 15px;
}

.wmd-button-bar {
    margin: 3px 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #fafafa;
}

.no-border {
  border:none !important;
}

.collaborators {
  margin: 30px 0px;
}


/*homepage image*/

html,body {
  height:100%;width:100%;
}
.jumbotron {
  background: rgba(255, 255, 255, 0.2);
}
.container-full-bg {
  width:100%;
  height:100%;
  max-width:100%;
  background-position:center;
  background-size:cover;
}

.container.special .jumbotron {
  margin-top:30px;
}

.big-icon {
  font-size: 55px;
  color: #007196;
}

.light-gray {
  background: #e4e4e4;
}
